Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
emdros-example-programs-config.h
emdros-example-programs.spec
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/Makefile
src/Makefile.in
src/cli/HAL/.deps/
src/cli/HAL/Makefile
src/cli/HAL/Makefile.in
src/cli/HAL/doc/Makefile
src/cli/HAL/doc/Makefile.in
src/cli/Makefile
src/cli/Makefile.in
src/gui/Makefile
src/gui/Makefile.in
src/gui/art/Makefile
src/gui/art/Makefile.in
src/gui/chunkingtool/.deps/
src/gui/chunkingtool/Makefile
src/gui/chunkingtool/Makefile.in
src/gui/chunkingtool/doc/Makefile
src/gui/chunkingtool/doc/Makefile.in
stamp-h1
doc/mqlhal.1
src/cli/HAL/doc/1000.html
src/cli/HAL/doc/1001.html
src/cli/HAL/doc/1010.html
src/cli/HAL/doc/1020.html
src/cli/HAL/doc/1030.html
src/cli/HAL/doc/1100.html
src/cli/HAL/doc/1110.html
src/cli/HAL/doc/1120.html
src/cli/HAL/doc/1130.html
src/cli/HAL/doc/1140.html
src/cli/HAL/doc/1200.html
src/cli/HAL/doc/1210.html
src/cli/HAL/doc/1220.html
src/cli/HAL/doc/HALGuide.aux
src/cli/HAL/doc/HALGuide.log
src/cli/HAL/doc/HALGuide.out
src/cli/HAL/doc/HALGuide.pdf
src/cli/HAL/doc/HALGuide.tex
src/cli/HAL/doc/HALGuide.toc
src/cli/HAL/doc/buildhtb.py
src/cli/HAL/doc/cms.css
src/cli/HAL/doc/config.py
src/cli/HAL/doc/config.pyc
src/cli/HAL/doc/dot.gif
src/cli/HAL/hallexer.cpp
